input,
select, button {
    margin: 2px 10px 15px;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: inherit;
    outline: none;
}

form {
    display: flex;
    flex-direction: column;
    text-align: initial;
}

label {
    color: #9E9E9E;
}

.title {
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
    color: #37474F;
}

.disabled {
    opacity: 0.5;
    cursor: none;
    pointer-events: none;
}